<app-header></app-header>
<router-outlet></router-outlet>
<!-- <div class="container">
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="card border-hover shadow mx-auto" style="width: 18rem;">
                        <img class="card-img-top img-thumbnail" src="assets/img/employee-icon.png" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Employee Page</h5>
                          <p class="card-text">List, view, vreate, and delete employees</p>
                          <a href="/employee" class="btn btn-primary">Go to employee page</a>
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="card border-hover shadow mx-auto" style="width: 18rem;">
                        <img class="card-img-top img-thumbnail" src="assets/img/ticket-icon.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Ticket Page</h5>
                          <p class="card-text">List, view, create, delete, and assign tickets to employees</p>
                          <a href="/ticket" class="btn btn-primary">Go somewhere</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div> -->